@page "/clients/delete"
@inject DatabaseContext DB
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@attribute [Authorize]

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    @if (client is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@client.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">@client.Address</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ContactName</dt>
            <dd class="col-sm-10">@client.ContactName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ContactNumber</dt>
            <dd class="col-sm-10">@client.ContactNumber</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">EmailId</dt>
            <dd class="col-sm-10">@client.EmailId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@client.UpdatedBy</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UpdatedAt</dt>
            <dd class="col-sm-10">@client.UpdatedAt</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">IsRemoved</dt>
            <dd class="col-sm-10">@client.IsRemoved</dd>
        </dl>
        <EditForm method="post" Model="client" OnValidSubmit="DeleteClient" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(client is null)">Delete</button> |
            <a href="/clients">Back to List</a>
        </EditForm>
    }
</div>

@code {
    Client? client;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        client = await DB.Clients.FirstOrDefaultAsync(m => m.Id == Id);

        if (client is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteClient()
    {
        

        client.UpdatedAt = DateTime.Now;
        client.IsRemoved = true;

        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/clients");
    }
}
