@page "/timesheets/details"
@inject DatabaseContext DB
@using Adwaith1.Application.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Timesheet</h4>
    <hr />
    @if (timesheet is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">EmployeeId</dt>
            <dd class="col-sm-10">@timesheet.EmployeeId</dd>
            <dt class="col-sm-2">ProjectId</dt>
            <dd class="col-sm-10">@timesheet.ProjectId</dd>
            <dt class="col-sm-2">Date</dt>
            <dd class="col-sm-10">@timesheet.Date</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@timesheet.UpdatedBy</dd>
            <dt class="col-sm-2">UpdatedAt</dt>
            <dd class="col-sm-10">@timesheet.UpdatedAt</dd>
            <dt class="col-sm-2">IsRemoved</dt>
            <dd class="col-sm-10">@timesheet.IsRemoved</dd>
        </dl>
        <div>
            <a href="@($"/timesheets/edit?id={timesheet.Id}")">Edit</a> |
            <a href="@($"/timesheets")">Back to List</a>
        </div>
    }
</div>

@code {
    Timesheet? timesheet;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        timesheet = await DB.Timesheets.FirstOrDefaultAsync(m => m.Id == Id);

        if (timesheet is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
